.book-card{
  width: auto;
  padding: 5px;
  border: 1px solid #e8dada;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 12px 0px rgba(65,65,65,0.59);
  box-shadow: 5px 5px 12px 0px rgba(65,65,65,0.59); ;
  text-align: center;
  margin-bottom: 5px;

}

h3{
  font-weight: normal;
}
